@font-face{
  font-family:Myfont ;
  src: url('public/Poppins');
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Myfont;
}
.conteiner{
  /* height: 100vh; */
  /* width: 100vw; */
}